<p style="color: green"><%= notice %></p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Edad</th>
          <th scope="col">Última Pelicula</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
      <%= render @client %>
      </tbody>
    </table>
<div>
<h1>Peliculas</h1>
  <% @client.movies.each do |cf| %>
    <%= render cf %>
  <% end %>
</div>

<div>
  <%= link_to "Volver", clients_path, class: "btn btn-primary" %>
</div>